*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.placement{
    width: 100%;
    height: 500px;
}
.placement1{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    margin-left: -1150px;
}
.placement2{
    margin-left: -1150px;
}
.placement3{
    border: 2px solid green;
}
.placement5{
    margin-left: 50px;
    margin-top: 20px;
}
.para1{
    width: 700px;
    height: 400px;
    font-family: 'Times New Roman',;
    font-size: x-large;
    margin-left: 50px;
    margin-top: 20px;
}
.para2{
    width: 700px;
    height: 400px;
    font-family: 'Times New Roman',;
    font-size: x-large;
    margin-left: 50px;
    margin-top: -150px;
}
.placement4{
    width: 400px;
    height: 400px;
    background-color: lightblue;
    margin-left: 900px;
    margin-top: -650px;
}
.placement6{
    margin-left: 950px;
    margin-top: -360px;
    line-height: 50px;
}
.placement6>h1{
    color: white;
}
.placement6>h2{
    color: green;
}
.placement6>h3{
    color: white;
}


     
    
     .education{
        margin-top: 120px;
        margin-left: 50px;
    }

     #placement{
        width:100%;
        display:flex;
        /* border:2px solid;   */
     }
    
     
      .placement8{
        margin-left: 30px;
      }  
     
     #placement>.placement8>img{
        width:400px;
        height:300px;
     }
     #placement>.placement8>p{
        width: 400px;
        height:300px;
        padding: 5px;
        font-size: x-large;

     }
     .placement9{
        margin-left: 30px;
     }
     #placement>.placement9>p{
        width: 400px;
        padding: 5px;
        font-size: x-large;
     }
     #placement>.placement9>img{
        width:400px;
        height:300px;
     } 
     #placement>.placement7>img{
        width:400px;
        height:300px;
     }
     #placement>.placement7>p{
        width: 400px;
        padding: 5px;
        font-size: x-large;
     }
     .placement10{
      width: 100%;
      height: 400px;
      background-color: navy;
      display: flex;
      

    }
    .placement10>div>img{
        width: 50px;
        height: 40px;
        
    }
    .dollar{
        padding: 50px;
        color: white;
        font-size: x-large;
    }
    .company{
        padding: 50px;
        color: white;
        font-size:x-large;
    }
    .joboffer{
        padding: 50px;
        color: white;
        font-size: x-large;
    }
    .upload{
        padding: 50px;
        color: white;
        font-size: x-large;
    }
    
     


